// @import 사용이 deprecated 됐다...@use, @forward를 사용해라...는 이렇게 써야 할 거 같은데...
@use '@assets/styles/main.scss' as *;

$HEADER-HEIGHT: 56px;
$FOOTER-HEIGHT: 50px;
$NAVIGATION-HEIGHT: 50px;

.page {
  display: flex;

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: calc(100% - $HEADER-HEIGHT - $NAVIGATION-HEIGHT - $FOOTER-HEIGHT);

    &__introBox {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 40%;

      background-image: url("@assets/images/image-intro.jpg");
      background-size: cover;
      background-position: 100% 15%;

      .wrapper {
        display: flex;
        flex-direction: column;
        &__title {
          margin-top: 4px;
          color: $color-white-000;
          font-size: 3rem;
          font-weight: 700;
        }
        &__desc {
          color: $color-white-000;
          margin-bottom: 32px;
        }
      }
    }
    &__imageBox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40%;
      flex-wrap: wrap;
      padding: 16px 60px;
      gap: 16px;
      overflow-y: scroll;
    }
  }
}