// @import 사용이 deprecated 됐다...@use, @forward를 사용해라...는 이렇게 써야 할 거 같은데...
@use '@assets/styles/main.scss' as *;

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50px;

  gap: 32px;
  border-bottom: 1px solid $color-white-300;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    text-decoration: none;
    color: $color-white-700;
    font-weight: 500;

    &__lable {
      white-space: nowrap;
    }

    &.inactive {
      color: $color-white-700;
      border-bottom: none;
    }

    &.active {
      color: $color-black-900;
      border-bottom: 2px solid $color-white-700;
    }

    &:hover {
      color: $color-black-900;
      font-weight: 600;
    }
  }
}