// @import 사용이 deprecated 됐다...@use, @forward를 사용해라...는 이렇게 써야 할 거 같은데...
@use '@assets/styles/main.scss' as *;

.card {
  width: 260px;
  height: 260px;

  background-color: $color-gray-200;
  border-radius: 6px;

  cursor: pointer;

  @media (min-width: 1024px) and (max-width: 1440px) {
    width: 200px;
    height: 200px;
  }

  &__image {
    width: 100%;
    height: 100%;

    border-radius: 6px;
    object-fit: cover;
  }
}