// @import 사용이 deprecated 됐다...@use, @forward를 사용해라...는 이렇게 써야 할 거 같은데...
@use '@assets/styles/main.scss' as *;

.container {

  // 요 덩어리가 팝업창 없이 팝업을 화면 앞으로 띄워주는 부분...코드가 아니라 스타일이었네...
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background-color: rgba($color-black-900, 0.5);

  &__dialog {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    height: 700px;

    background-color: $color-white-000;
    border-radius: 12px;

    &__header {

      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 70px;

      padding: 0 16px;

      border-bottom: 1px solid $color-gray-100;

      .close {

        display: flex;
        align-items: center;
        justify-content: flex-start;

        gap: 8px;

        &__button {
          display: flex;
          align-items: center;
          justify-content: center;

          border: none;
          outline: none;
          background: transparent;

          cursor: pointer;
        }

        &__authorImage {
          border-radius: 50%;
        }

        &__authorName {
          font-weight: 600;
        }
      }
      .bookmark {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 8px;

        &__button {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 4px 6px;

          outline: none;
          border: none;
          border-radius: 6px;
          text-align: center;

          cursor: pointer;

          background-color: $color-white-000;
          border: 1px solid $color-gray-600;

          color: $color-gray-600;
        }
      }
    }
    &__body {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: calc(100% - 220px);

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 150px;

      padding: 0 24px;
      gap: 24px;

      .infoBox {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        gap: 48px;

        &__item {
          display: flex;
          flex-direction: column;

          gap: 4px;

          &__label {
            color: $color-gray-500;
            font-weight: 500;
          }

          &__value {
            color: $color-black-900;
            font-weight: 600;
          }
        }
      }

      .tagBox {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        width: 100%;
        gap: 8px;

        &__tag {
          padding: 4px 8px 6px 8px;
          border-radius: 4px;
          background-color: $color-gray-100;
          color: $color-gray-500;
        }
      }
    }
  }
}