// @import 사용이 deprecated 됐다...@use, @forward를 사용해라...는 이렇게 써야 할 거 같은데...
@use '@assets/styles/main.scss' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding: 0 16px;

  &__logoBox {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    gap: 8px;
    cursor: pointer;

    &__logo {
      height: 75%;
    }
    &__title {
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__profileBox {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 16px;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;

      outline: none;
      padding: 6px 10px;
      border: 1px solid $color-white-300;
      border-radius: 4px;

      color: $color-white-600;
      background-color: $color-white-000;

      cursor: pointer;
    }

    &__userName {
      color: $color-white-600;
      font-size: 15px;
      font-weight: 400;
    }
  }
}